@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css?family=PT+Mono&display=swap);


:root {
  /* Fonts */
  --text-font-family: Roboto;
  --text-font-is-google: 1;
  --text-font-family-fallback: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial;
  --text-font-base: sans-serif;
  --header-font-family: Roboto;
  --header-font-is-google: 1;
  --header-font-family-fallback: Georgia, serif;
  --code-font-family: 'PT Mono';
  --code-font-is-google: 1;
  --base-font-size: 20px;
  --text-font-size: 1.5rem;
  --code-font-size: 0.9rem;
  --code-inline-font-size: 1em;
  --header-h1-font-size: 2.75rem;
  --header-h2-font-size: 2.25rem;
  --header-h3-font-size: 1.75rem;

  /* Colors */
  --text-color: #000000;
  --header-color: #025486;
  --background-color: #FFFFFF;
  --link-color: #025486;
  --text-bold-color: #025486;
  --code-highlight-color: #f6bcd3;
  --inverse-text-color: #000000;
  --inverse-background-color: #36BFED;
  --inverse-header-color: #000000;
  --inverse-link-color: #025486;
  --header-background-color: #025486;
  --header-background-text-color: #FFFFFF;
  --primary: #025486;
  --secondary: #36BFED;
  --white: #FFFFFF;
  --black: #000000;
  --navy: #025486;
  --blue: #36BFED;
  --pink: #D01C65;
  --pink_light: #f6bcd3;
  --beige: #F2EFEC;
  --beige_dark: #8A735F;
}

html {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--text-font-family), var(--text-font-family-fallback), var(--text-font-base);
  font-weight: normal;
  color: var(--text-color);
}
h1, h2, h3 {
  font-family: var(--header-font-family), var(--header-font-family-fallback);
  font-weight: 600;
  color: var(--header-color);
}
.remark-slide-content {
  background-color: var(--background-color);
  font-size: 1.5rem;
  padding: 16px 64px 16px 64px;
  width: 100%;
  height: 100%;
}
.remark-slide-content h1 {
  font-size: var(--header-h1-font-size);
}
.remark-slide-content h2 {
  font-size: var(--header-h2-font-size);
}
.remark-slide-content h3 {
  font-size: var(--header-h3-font-size);
}
.remark-code, .remark-inline-code {
  font-family: var(--code-font-family), Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}
.remark-code {
  font-size: var(--code-font-size);
}
.remark-inline-code {
  font-size: var(--code-inline-font-size);
  color: #025486;
}
.remark-slide-number {
  color: #025486;
  opacity: 1;
  font-size: 0.9rem;
}
strong {
  font-weight: bold;
  color: var(--text-bold-color);
}
a, a > code {
  color: var(--link-color);
  text-decoration: none;
}
.footnote {
  position: absolute;
  bottom: 30px;
  padding-right: 4em;
  font-size: 0.9rem;
}
.tiny {
  font-size: 50%;
}
.small {
  font-size: 90%;
}
.big {
  font-size: 120%;
}
.huge {
  font-size: 180%;
}
.small-header h1 {
  font-size: 2rem;
}

/* Two-column layout */
.left-column {
  width: 20%;
  height: 92%;
  float: left;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right + * {
  clear: both;
}

/* use to position text at the bottom */
.pull-down {
  position: absolute;
  bottom: 50px;
}

img, video, iframe {
  max-width: 100%;
}

/* Horizontal alignment of code blocks */
.remark-slide-content.left pre,
.remark-slide-content.center pre,
.remark-slide-content.right pre {
  text-align: start;
  width: max-content;
  max-width: 100%;
}
.remark-slide-content.left pre,
.remark-slide-content.right pre {
  min-width: 50%;
  min-width: min(40ch, 100%);
}
.remark-slide-content.center pre {
  min-width: 66%;
  min-width: min(50ch, 100%);
}
.remark-slide-content.left pre {
  margin-left: unset;
  margin-right: auto;
}
.remark-slide-content.center pre {
  margin-left: auto;
  margin-right: auto;
}
.remark-slide-content.right pre {
  margin-left: auto;
  margin-right: unset;
}


/* Hightlighted code */
.remark-code-line-highlighted {
  background-color: var(--code-highlight-color);
}
.remark-code-span-highlighted {
  background-color: var(--code-highlight-color);
}

/* Hightlighted element in list */
.emphasize-1 li:nth-child(1) {
  background-color: var(--code-highlight-color);
}
.emphasize-2 li:nth-child(2) {
  background-color: var(--code-highlight-color);
}
.emphasize-3 li:nth-child(3) {
  background-color: var(--code-highlight-color);
}
.emphasize-4 li:nth-child(4) {
  background-color: var(--code-highlight-color);
}
.emphasize-5 li:nth-child(5) {
  background-color: var(--code-highlight-color);
}
.emphasize-6 li:nth-child(6) {
  background-color: var(--code-highlight-color);
}
.emphasize-7 li:nth-child(7) {
  background-color: var(--code-highlight-color);
}
.emphasize-8 li:nth-child(8) {
  background-color: var(--code-highlight-color);
}

/**************************************
*
* title slide 
*
***************************************/

.title-slide {
  background-color: var(--navy);
  background-image: url(https://arcus-education-internal.s3.amazonaws.com/chopr/chopr.png);
  background-position: 97.5% 2.5%;
  background-size: 8cm;
}
.title-slide h1{
  font-size: var(--header-h1-font-size);
  color: var(--blue);
  background-color: var(--white);
  position: absolute;
  padding-left: 35px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 0px;
  right: 0px;
  bottom: 10%;
}

.author {
  color: var(--white);
}

.title-slide .remark-slide-number {
  display: none;
}

/**************************************
*
* section slide 
*
***************************************/

.section-slide {
  background-color: var(--blue);
}
.section-slide h1{
  color: var(--navy);
  font-size: var(--header-h1-font-size);
  background-color: var(--white);
  background-image: url(https://arcus-education-internal.s3.amazonaws.com/chopr/chopr.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 35px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
}


/**************************************
*
* Your Turn slide 
*
***************************************/

.your-turn {
  background-color: var(--blue);
}
.your-turn h1:first-of-type{
  color: var(--navy);
  font-size: var(--header-h1-font-size);
  background-color: var(--white);
  left: 0px;
  right: 0px;
  position: absolute;
  padding-left: 35px;  
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.your-turn p{
  padding-top: 135px;  
}

/**************************************
*
* CHOPR slide 
* (for announcements, etc.)
*
***************************************/

.remark-slide-content.chopr-slide > p:first-of-type {
  height: 40%;
  float: left;
  width: 40%;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0px;
}
.remark-slide-content.chopr-slide > ul, .remark-slide-content.chopr-slide > ol, .remark-slide-content.chopr-slide > blockquote {
  overflow: auto;
}

/**************************************
*
* image fills one side of slide (left or right)
* (e.g. for advertising a book with an image of its cover on the left)
*
***************************************/
.remark-slide-content.img-left-full {
  padding-left: calc(40% + 2rem);
}
.remark-slide-content.img-left-full > p:first-of-type {
  margin: 0px;
  padding: 0px;
}
.remark-slide-content.img-left-full > p:first-of-type > img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 40%;
  object-fit: contain;
  object-position: right;
}
.remark-slide-content.img-right-full {
  padding-right: calc(40% + 2rem);
}
.remark-slide-content.img-right-full > p:first-of-type {
  margin: 0px;
  padding: 0px;
}
.remark-slide-content.img-right-full > p:first-of-type > img {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 40%;
  object-fit: contain;
  object-position: left;
}

/**************************************
*
* tables
* (as made from knitr::kable, etc.)
*
***************************************/

table {
  width:auto;
  font-size: 30%;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;  
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }


